<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Ascii-Web</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="home.html">Ascii-Web</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>About Ascii-Web</h1>
        <p>Ascii-Web is a platform that allows users to convert their text into ASCII art. Our goal is to bring a fun and creative way for people to express their thoughts through text art.</p>
        <h2>Features</h2>
        <ul>
            <li>Convert text to ASCII art.</li>
            <li>Choose different colors for the ASCII art.</li>
            <li>Simple and user-friendly interface.</li>
        </ul>
        <h2>Our Team</h2>
        <p>Ascii-Web is developed by:</p>
        <ul>
            <li><a href="https://github.com/konditi1">@konditi1</a></li>
            <li><a href="https://github.com/jesee-kuya">@jesee-kuya</a></li>
        </ul>
    </main>
    <footer>
        <p>&copy; 2024 Ascii-Web. All rights reserved.
                <a href="https://github.com/konditi1/ascii-art-web">@konditi1</a>
                <a href="https://github.com/jesee-kuya/ascii-art-web">@jesee-kuya</a></p>
           
    </footer>
</body>
</html>
