<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii-Web</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="home">Ascii-Web</a></li>
                <li><a href="about">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Ascii-Web</h1>

        <form action="/" method="POST" class="ascii-form">
            <div class="left-group">
                <label for="file">Banner file</label>
                <select name="file" id="style">
                    <option value="standard" selected>Standard</option>
                    <option value="shadow">Shadow</option>
                    <option value="thinkertoy">Thinkertoy</option>
                </select>
                <br><br>
                <label for="selectColor">Color The Art</label>
                <div>
                    <input type="radio" id="yes" name="selectColor" value="yes" onclick="toggleColors(true)">
                    <label for="yes">Yes</label>
                </div>
                <div>
                    <input type="radio" id="no" name="selectColor" value="no" onclick="toggleColors(false)">
                    <label for="no">No</label>
                </div>
                
                <div id="colorChoices" class="hidden">
                    <label for="color">Select a color:</label>
                    <select name="color" id="color">
                        <option value="red">Red</option>
                        <option value="green">Green</option>
                        <option value="blue">Blue</option>
                        <option value="yellow">Yellow</option>
                        <option value="cyan">Cyan</option>
                        <option value="magenta">Magenta</option>
                    </select>
                </div>
            </div>
            
            <div class="right-group">
                <textarea name="text" id="text" placeholder="Enter the text to Print in ASCII art" cols="30" rows="10" required></textarea>
                <input type="submit" value="Generate">
            </div>
        </form>

        {{if .AsciiArt}}
        <div class="ascii-art">
            <pre>{{.AsciiArt}}</pre>
        </div>
        {{end}}
        
    </main>
    <footer>
        <p>&copy; 2024 Ascii-Web. All rights reserved. <a href="https://github.com/konditi1/ascii-art-web">@konditi1</a>
            <a href="https://github.com/jesee-kuya/ascii-art-web">@jesee-kuya</a></p>
    </footer>

    <script src="static/js/script.js"></script>
</body>
</html>
